<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<div th:insert="fragments::css"></div>
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid ">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        
        
   
        <li class="nav-item">
          <a th:href="@{/showjobform}" class="nav-link active" href="#" tabindex="-1">Post Job</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active"  th:href="@{/showJobs}" tabindex="-1">Update Job</a>
        </li>
        
      </ul>
     <!--  <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning me-2" type="submit">Search</button>
      </form> -->
     <ul class="navbar-nav  mb-2 mb-lg-0 active">
     <li class="nav-item dropdown" th:if="${user!=null}">
           <a class="nav-link dropdown-toggle d-flex align-items-center active" href="#" id="userDropdown"
                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   
                    <!-- <img th:src="${#}"
                         alt="Profile"
                         class="rounded-circle me-2"
                         width="35" height="35"> -->
                    <span  th:text="${user.Name}">User</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" th:href="@{/userprofile/{id}(id=${user.id})}">My Profile</a></li>
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="dropdown-item">Logout</button>
                        </form>
                    </li>
                </ul>
     </li>
     
     </ul>
     
      <ul class="navbar-nav  mb-2 mb-lg-0">
      <li class="nav-item" th:if="${user==null}">
       <a th:href="@{/userlogin}"> <button class="btn btn-outline-warning me-2 " type="submit">Login</button></a>
     <a th:href="@{/registration}" ><button class="btn btn-outline-warning me-2" type="submit">Signup</button></a>
      </li>
      </ul>
      
     
    </div>
  </div>
</nav>
</body>
</html>