<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Registration</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>

</head>
<body>
<div class="container mt-5">
<div class="row">
<div class="col-md-6 offset-md-3">
<div class="card">
<div class="card-body">
<div class="text-center fs-3">
<p>User Registration</p>
</div>
<div th:text="${msg}">ghd</div>
<form th:action="@{/user_registration}" th:object="${users}" method="post">
<input type="text" class="form-control mb-3" th:field="*{name}" placeholder="Enter name" />
<input type="email" class="form-control mb-3" th:field="*{email}" placeholder="Enter email"/>
<input type="password" class="form-control mb-3"  th:field="*{password}" placeholder="Enter password"/>
<button type="submit" class="btn btn-outline-success ">Submit</button>


</form>
</div>
</div>
</div>
</div>
</div>
</body>
</html>